@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind utilities;

@theme {
  --color-*: initial;
  --color-gray-100: #ababab;
  --color-gray-200: #868686;
  --color-white: #ffffff;
  --color-green: #4f9419;
  --color-dark-green: #006C18;
  --color-black: #000000;
  --color-danger: #dc2626;
}

@layer utilities {
  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
}
